@use "utilities" as *;

.card {
    background-color: $color-white;
    color: $color-dark;
    padding: $padding-base;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    max-width: $element-width-l;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    gap: 1em;
    width: 100%;

    .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: $font-size-base;
        color: $color-dark;

        label {
            font-size: $font-size-base;
            color: $color-dark;
        }

        input,
        textarea,
        select {
            margin-top: 0.25em;
            font-size: $font-size-base;
            color: $color-dark;
            width: 100%;
            border: 1px solid $color-secondary-muted;

            &:focus {
                outline: none;
                border: 1px solid $color-secondary-light;
                box-shadow: 0 0 1px 1px $color-secondary-light;
                border-radius: 2px;
            }

            &::placeholder {
                font-style: italic;
                opacity: 0.9;
                font-size: 0.9rem;
            }
        }

        @media (max-width: $breakpoint-md) {
            width: 100%;
        }
    }
}

label {
    text-align: left;
}

input,
textarea,
select {
    padding: 0.3em 0.6em;
    font-size: inherit;
    font-family: inherit;
    border-radius: 0.25em;
    background-color: transparent;
    border: none;
}

textarea {
    resize: vertical;
    min-height: 10em;
}

// BUTTONS

.btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1em;
}

button,
input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    user-select: none;
    font: inherit;
    min-height: 34px;

    &:disabled,
    &:disabled:hover {
        background-color: $color-grey-dark;
        color: $color-grey-light;
        cursor: not-allowed;
        box-shadow: none;
    }
}

.btn-link {
    display: inline-block;
    color: inherit;
    font-weight: 800;

    &:hover {
        text-decoration: underline;
    }
}

.btn-primary,
.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-base;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    border-radius: 25em;
    padding: 0 calc($padding-base * 0.8);
    color: $color-white;
    width: clamp(40px, 100%, 260px);
    min-height: 46px;
    margin: $margin-base 0;

    &.small {
        padding: 0 calc($padding-base * 0.4);
        min-height: 34px;
        max-width: 180px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 0.9rem;
        text-transform: capitalize;
        margin: calc($margin-base * 0.5) 0;

    }
}

.btn-primary {
    background-color: $color-primary;

    &:hover {
        background-color: $color-primary-light;
    }
}

.btn-secondary {
    background-color: $color-secondary;

    &:hover {
        background: $color-secondary-light;
    }
}

.btn-icon {
    border: 0;
    background: transparent;
    padding: 0em;
    margin: 0;
    outline: none;
    cursor: pointer;
    transform: scale(1.8);
    line-height: 0;
    color: inherit;
}

// SPINNER

.spinner {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;

    &::after {
        content: " ";
        display: block;
        width: 34px;
        height: 34px;
        margin: 8px;
        border-radius: 50%;
        border: 4px solid $color-secondary;
        border-color: $color-secondary $color-secondary $color-secondary transparent;
        animation: spinner 1.2s linear infinite;
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}


.alert {
    display: none;
    visibility: hidden;

    &.show {
        display: flex;
        visibility: visible;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: $color-grey-dark;
        color: $color-white;
        font-size: 0.9rem;
        box-shadow: 0 0 10px #00000090;
        justify-content: space-between;
        padding: 0 5vw;
        align-items: center;
        min-height: 3em;
        cursor: pointer;
    }

    span {
        display: inherit;
        align-items: center;
        justify-content: center;
        padding: 2px 4px;
        line-height: 1;
        font-size: 0.8rem;
        color: currentColor;
    }

    &.success {
        background-color: #c4ffdf;
        color: rgb(6, 60, 6);
    }

    &.error {
        color: rgb(79, 4, 4);
        background-color: rgb(254, 195, 195);
    }
}

p.error {
    position: absolute;
    font-size: 0.8rem;
    margin: 0;
    padding: 0 2px;
    color: rgb(79, 4, 4);
}

// SCROLL TO TOP

.scroll-to-top {
    position: fixed;
    bottom: 3%;
    right: 7%;
    z-index: 2;
    place-content: center;
    place-items: center;
    min-width: 2.6em;
    min-height: 2.6em;
    line-height: 0;
    border-radius: 50%;
    background-color: $color-secondary-dark;
    color: $color-white;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $color-secondary;
    }
}