@use "utilities" as *;

.card {
    background-color: $color-white;
    color: $color-dark;
    position: relative;
    width: 100%;
    max-width: $element-width-l;
    border-radius: 0.5em;
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    box-shadow: $drop-shadow-soft;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    gap: 0.5em;
    width: 100%;
    position: relative;

    .input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        font-size: $font-size-s;
        color: $color-dark;
        margin-block: 0.5em;
        gap: 1em;

        .input-field-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            gap: 0.5em;
            position: relative;

            input {
                padding-right: 2em;
            }
        }

        label {
            white-space: nowrap;
            text-align: end;
            flex: 0 1 25%;
            font-size: $font-size-s;
            color: $color-dark;
        }

        input,
        textarea,
        select {
            font-size: $font-size-s;
            color: $color-dark;
            width: 100%;
            border: 1px solid $color-secondary-muted;

            &:focus {
                outline: none;
                border: 1px solid $color-secondary-light;
                box-shadow: 0 0 1px 1px $color-secondary-light;
                border-radius: 2px;
            }

            &::placeholder {
                font-style: italic;
                opacity: 0.9;
                font-size: $font-size-xs;
            }

            &.error {
                border: 1px solid $color-error-opaque;
                box-shadow: 0 0 1px 1px $color-error-opaque;
            }
        }

        &.vertical {
            flex-direction: column;
            gap: 0;

            label {
                height: auto;
                width: 100%;
                margin-bottom: 0.5em;
                text-align: start;
                flex: 0 1 auto;
            }
        }

        .character-count {
            position: absolute;
            right: 0;
            bottom: -2em;
            color: $color-grey-dark;
            font-size: $font-size-xxxs;
        }

        @media (max-width: $breakpoint-md) {
            width: 100%;
        }
    }
}

label {
    text-align: left;
}

input,
textarea,
select {
    padding: 0.3em 0.6em;
    font-size: $font-size-s;
    font-family: inherit;
    border-radius: 0.25em;
    background-color: transparent;
    border: none;
}

textarea {
    resize: vertical;
    min-height: 10em;
}

// BUTTONS

.btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1em;
}

button,
input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    user-select: none;
    font: inherit;
    gap: 0.5em;
    min-height: 24px;

    &:disabled,
    &:disabled:hover {
        background-color: $color-grey-medium;
        color: $color-grey-light;
        cursor: unset;
        box-shadow: none;
    }
}

.btn-link {
    display: inline-block;
    color: inherit;
    font-weight: 800;
    width: auto;

    &:hover {
        text-decoration: underline;
    }
}

.btn-primary,
.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-base;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    border-radius: 25em;
    padding-inline: $padding-base;
    padding-block: calc($padding-base * 0.5);
    color: $color-white;
    width: clamp(40px, 100%, 220px);
    min-height: 34px;
    white-space: nowrap;
    line-height: 0;

    &.small {
        padding-inline: calc($padding-base * 0.6);
        min-height: 24px;
        max-width: 140px;
        width: fit-content;
        border-radius: 5px;
        font-weight: 400;
        font-size: $font-size-xxxs;
        text-transform: capitalize;
        margin: calc($margin-base * 0.5) 0;

    }

    &.btn-cta {
        margin-block: 0.5em;
        min-height: 44px;
        width: 100%;
        max-width: $element-width-s;

        &:hover {
            background-color: $color-primary-medium-light;
        }
    }
}

.btn-primary {
    background-color: $color-primary;

    &:hover {
        background-color: $color-primary-medium-light;
    }
}

.btn-secondary {
    background-color: $color-secondary;

    &:hover {
        background: $color-secondary-light;
    }
}

.btn-icon {
    border: 0;
    background: transparent;
    margin: 0;
    outline: none;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 1.6em;
    line-height: 0;
    color: inherit;
    transition: all 0.1s ease-in-out;

    &:disabled,
    &:disabled:hover {
        background-color: transparent;
        color: $color-grey-medium;
        box-shadow: none;
    }
}


// SPINNER

.spinner {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 1.4em;
    height: 1.4em;

    &::after {
        content: " ";
        display: block;
        width: 1.4em;
        height: 1.4em;
        margin: 8px;
        border-radius: 50%;
        border: 4px solid $color-secondary;
        border-color: $color-secondary $color-secondary $color-secondary transparent;
        animation: spinner 1.2s linear infinite;
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}


.alert {
    display: none;
    visibility: hidden;

    &.show {
        display: flex;
        visibility: visible;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: $color-grey-dark;
        color: $color-white;
        font-size: $font-size-s;
        box-shadow: 0 0 10px #00000090;
        justify-content: space-between;
        padding: 0 5vw;
        align-items: center;
        min-height: 3em;
        cursor: pointer;
    }

    span {
        display: inherit;
        align-items: center;
        justify-content: center;
        padding: 2px 4px;
        line-height: 1;
        font-size: $font-size-xxs;
        color: currentColor;
    }

    &.success {
        color: $color-success-medium-dark;
        background-color: $color-success-light;
    }

    &.error {
        color: $color-error-medium-dark;
        background-color: $color-error-light;
    }
}

// SCROLL TO TOP

.scroll-to-top {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 2;
    place-content: center;
    place-items: center;
    min-width: 2.6em;
    min-height: 2.6em;
    line-height: 0;
    border-radius: 50%;
    background-color: $color-secondary-dark;
    color: $color-white;
    transition: all 0.2s ease-in-out;
    box-shadow: $drop-shadow-sharp;

    &:hover {
        background-color: $color-secondary;
    }
}

.card.volume-info-card {
    display: grid;
    grid-template-columns: 4fr minmax(120px, 1fr);
    grid-template-rows: auto 1fr auto;
    column-gap: 2em;
    row-gap: 0;

    .description,
    .title,
    .subtitle,
    .author {

        text-align: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;

        &.expanded {
            -webkit-line-clamp: unset;
        }
    }

    .info-header {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        padding-block: 1em;
        padding-inline: 2em;

        .title {
            font-size: $font-size-l;
        }

        .subtitle {
            color: $color-grey-dark;
            font-size: $font-size-s;
        }

        .author {
            color: $color-primary-dark;
            font-size: $font-size-xs;
            font-style: italic;
            margin-block-start: 0.5em;

            &::before {
                content: "by: ";
                margin-inline-end: 0.6em;
                color: $color-grey-dark;
                font-size: $font-size-xxxs;
            }
        }
    }

    .description {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        font-size: $font-size-xs;
        background-color: $color-white;
        text-align: left;
        line-height: 2;
        padding-left: 2em;
        padding-bottom: 0.5em;
    }

    .detail-container {
        grid-column: 2 / 3;
        grid-row: 1 / span 3;
        background-color: $color-grey-light;
        font-size: $font-size-xxs;
        color: $color-dark;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
        padding: 1em;
        width: 100%;
        height: 100%;

        img.volume-cover {
            height: auto;
            width: 100%;
            max-width: 100px;
            object-fit: cover;
        }

        .detail-info-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .detail-label {
            color: $color-grey-dark;
            font-size: $font-size-xxxs;
        }
    }

    button.volume-review-btn {
        margin-block-end: 1.5em;
        margin-inline-start: 2em;

    }

    .volume-details-btn {
        justify-self: center;
        align-self: center;
    }

}

.modal-content.volume-details-modal {
    width: auto;
    width: $element-width-m;
    height: 80%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;

    button.close-btn {
        position: fixed;
        top: 0.2em;
        right: 0.5em;
        z-index: 1;
    }

    .volume-info-card {
        width: 99%;
        background-color: $color-primary-muted-light;
        box-shadow: none;
        margin-top: 2.2em;
        display: grid;
        overflow-y: auto;

        .volume-info-card-right {
            background-color: transparent;
            flex-direction: row;
        }

        .volume-info-card-left {
            padding: 0;
        }
    }

    .volume-info-card-description.expanded {
        background-color: $color-white;
        width: 100%;

        p {
            text-align: left;
        }
    }

    .title,
    .subtitle,
    .volume-author {
        text-align: center;
        width: 100%;
    }



}

.volume-recommendations {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: $color-primary-muted-light;

    .spinner {
        margin-top: auto;
        margin-bottom: auto;
    }

    .volume-recommendations-header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h2 {
            color: $color-dark;
            padding-top: 2.5vw;
        }

        h3 {
            color: $color-medium-dark;
            text-transform: capitalize;
        }

        .volume-recommendations-nav {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            width: 100%;
            padding-top: 0.5em;
        }
    }


    .volume-recommendations-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 0.5em;
            padding: 0.5em;

            li {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                font-size: $font-size-xs;

                img {
                    width: 100px;
                    height: auto;
                    object-fit: scale-down;
                }

                .recommendation-card-author {
                    color: $color-primary-dark;
                    font-style: italic;
                }
            }
        }
    }

    .volume-recommendations-footer {
        margin-top: calc(1em + 2vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.message-container {
    display: flex;
    gap: 1em;
    width: 90%;
    max-width: $element-width-l;
    padding: 0.5em;
    justify-content: center;
    border-radius: 5px;
    position: relative;

    &.error {
        background-color: $color-error-light;
        border: 1px solid $color-error-opaque;
    }

    &.info {
        background-color: $color-info-light;
        border: 1px solid $color-info-opaque;
    }

    &.success {
        background-color: $color-success-light;
        border: 1px solid $color-success-opaque;
    }

    &.warning {
        background-color: $color-warning-light;
        border: 1px solid $color-warning-opaque;
    }

    p {
        position: relative;
        width: fit-content;
        text-align: start;
        font-size: $font-size-xxs;
        margin: 0;
        padding: 0 2px;

        svg {
            flex: none;
            height: 1.8em;
            width: 1.8em;
            left: 0;
            margin-top: auto;
            margin-bottom: auto;
        }

        &.error {
            color: $color-error-dark;

            svg {
                color: $color-error-medium-dark;
            }
        }

        &.info {
            color: $color-info-dark;

            svg {
                color: $color-info-medium-dark;
            }
        }

        &.success {
            color: $color-success-dark;

            svg {
                color: $color-success-medium-dark;
            }
        }

        &.warning {
            color: $color-warning-dark;

            svg {
                color: $color-warning-medium-dark;
            }
        }
    }
}

.clear-input-btn:not(.current-search-item) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    right: 0;
    padding: 0;
    margin-inline: 0.5em;
    background-color: transparent;
    border: none;
    outline: none;

    svg {
        height: 1.1em;
        width: 1.1em;
        color: $color-dark;
    }
}