@use "utilities" as *;

.user-dashboard {

    .user-dashboard.nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5em;
        background-color: $color-secondary-muted;
        width: 100%;
        max-width: $element-width-l;
        padding-block: 0.2em;
        border-radius: 0.5em;

        a {
            color: $color-secondary-dark;
            background-color: inherit;
            font-weight: 600;
            border: 0.1rem solid transparent;
            font-size: 0.9rem;
            border-radius: 0;
            padding: 0;
            max-width: 8rem;
            min-height: 1rem;
            position: relative;

            &.active::before {
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0;
                border-bottom: 0.15em solid $color-secondary-dark;
            }
        }
    }

    .user-dashboard-content {
        max-width: $element-width-l;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .user-profile {
        background-color: $color-white;
        padding: 0 2em;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;

        p {
            margin-left: 1.5em;
        }

        .user-info {
            div {
                margin: 0.5em 0;
                display: grid;
                grid-template-columns: 7em 4fr;

                &>*:first-child {
                    color: $color-grey-dark;
                    text-align: right;
                }
            }
        }

        .form-control {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            p.error {
                width: 95%;
                height: auto;
            }
        }

        button.show-password {
            padding: 0;
            width: fit-content;
            font-size: 0.9rem;
            //border: $border-soft-dark;
            //padding: 0 0.5em;
            color: $color-secondary-muted-dark;
            display: flex;
            align-items: center;
            gap: 0.5em;

            svg {
                width: 1.4em;
                height: 1.4em;
            }
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin: 0.2em 0;
            width: 100%;

            button {
                width: 40%;
            }
        }
    }

    .user-reviews {
        width: 100%;
        max-width: $element-width-l;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 1em;

        .card {

            .user-tools {
                flex: 1 1 50%;
                display: flex;
                gap: 1em;
                padding: 0 0.5em;

                button {
                    display: flex;
                    place-items: center;
                    padding: 0.5em;
                    gap: 0.5em;
                    font-size: 0.9rem;

                    svg {
                        line-height: 0;
                        width: 0.7rem;
                        height: 0.7rem;
                    }
                }
            }
        }
    }

    .user-settings {
        .user-select-categories {
            background-color: $color-white;
            padding-top: 1em;
            display: flex;
            flex-direction: column;
            width: 100%;

            h3 {
                font-size: 1rem;
                margin: 0;
                padding: 0;
                width: 100%;
            }

            .user-select-categories__list {

                legend {
                    color: $color-grey-dark;
                    font-size: 0.9rem;
                    margin-bottom: 1em;
                }

                display: flex;
                flex-direction: column;
                gap: 1em;
                padding: 0 1em;
                height: 50%;
                overflow-y: auto;

                .user-select-categories__list__item {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    align-items: center;
                    color: $color-dark;

                    label {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

form.volume-review {
    height: fit-content;
    margin-block: auto;
    width: 100%;
    border-radius: 0.5em;

    section {
        max-width: $element-width-l;
        width: 100%;
        padding: 1.5em;
        background-color: $color-white;


        &.volume-info-card {
            background-color: $color-secondary-muted-medium-light;
        }

        .volume-info-card-cover {
            height: auto;
            width: clamp(100px, 50%, 200px);
            object-fit: scale-down;
        }
    }


    & label:has(:required) {
        &:before {
            content: "*";
            position: absolute;
            top: -3%;
            left: -1.8%;
            color: $color-primary;
            font-size: 1rem;
            font-weight: 200;

        }
    }

    p.rating-heading {
        &:before {
            content: "*";
            position: relative;
            top: -3%;
            left: -1.8%;
            color: $color-primary;
            font-size: 1rem;
            font-weight: 200;
        }
    }
}

.main-container {
    height: 100%;
    width: $element-width-xxl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;

    .hero-card {
        position: relative;
        background-color: $color-secondary-muted;
        background-image: linear-gradient(#a8dadf88, rgba(56, 35, 37, 0.171)), url("https://images.unsplash.com/photo-1560332944-d047e59ac9b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: calc(2vw + 2em);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        min-height: 500px;
        justify-content: space-around;
        text-align: center;
        transition: all 0.2s ease-in-out;

        h1 {
            font-size: 2.6rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 0em;
            text-transform: uppercase;
        }

        p {
            color: white;
        }

        p:first-of-type {
            font-size: clamp(1.5rem, 6vw, 3.6rem);
            font-weight: 600;
            margin-bottom: 1em;
            color: $color-primary-light;
            background-color: #fffffff1;
            padding: 0.4em 10vw;
            transform: rotate(-2deg);
            white-space: nowrap;
            position: relative;
            left: -0.3em;

            &::after {
                position: absolute;
                content: '';
                font-size: 2em;
                margin-left: calc(10vw + 0.1em);
                width: 0.2em;
                height: 100%;
                background-color: #fffffff1;
            }
        }

        p:nth-of-type(2) {
            position: relative;
            font-size: clamp(1.25rem, 3.5vw, 1.8rem);
            top: -22%;
            left: 0;
        }

        .credit {
            position: absolute;
            bottom: 0;
            right: 0;
            padding-right: 0.4em;
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 0.283);
        }
    }

    .user-greet-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: flex-start;
        width: $element-width-xl;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        padding-block: 1em;

        .user-welcome {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            padding-block: 2.5vw;
            width: 100%;
            height: 10vh;
            font-weight: 600;
            color: $color-white;
            background-color: $color-secondary;
        }
    }
}

.rating-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border: 1px solid $color-secondary-muted;
    padding: 0.5em 0;
    border-radius: 5px;
    gap: 0.5em;

    ul.rating {
        gap: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;

        @media screen and (max-width: $breakpoint-md) {
            flex-wrap: wrap;
        }

        li {
            position: relative;
            width: 2.5em;
            height: 2.5em;
            flex: 0 0 2.5em;
            display: flex;
            border-radius: 50%;
            font-size: $font-size-base;
            transition: 0.3s;

            button {
                background: $color-secondary-muted-light;
                position: absolute;
                display: flex;
                place-content: center;
                place-items: center;
                font-size: calc($font-size-base * 1.1);
                top: 50%;
                left: 50%;
                width: 2.5em;
                height: 2.5em;
                min-height: unset;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;

                &.selected {
                    background: $color-primary;
                    color: $color-white;
                    border: 3px solid $color-primary-light;
                    font-weight: 600;
                }

                @media (hover: hover) {
                    &:hover {
                        background: $color-primary-light;
                        color: $color-white;
                    }
                }
            }
        }
    }
}

.review-search {

    width: 90%;
    max-width: $element-width-l;
    border-radius: 5px;
    background-color: $color-secondary-muted;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0.5em;
        padding: 1em;
        font-size: 1rem;
        font-weight: 600;
        color: $color-secondary-dark;

        &.reset {
            padding: 0;
            width: fit-content;
            align-self: flex-end;
            font-size: 0.8rem;
            font-weight: 400;
            margin: 0;
            margin-bottom: 0.5em;
        }
    }

    form {

        padding: 0 1em;
        width: 90%;

        .input-group {
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 0.5em;
            gap: 1em;

            label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: end;
                flex: 1 1 10%;
                color: $color-secondary-muted-dark;
            }

            input,
            select,
            textarea {
                flex: 1 1 80%;
                background-color: $color-secondary-muted-light;
                max-height: 200px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-md) {

        form {
            .input-group {
                flex-direction: column;
                align-items: center;
                gap: 0;
                margin-top: 0;

                label {
                    width: 100%;
                    text-align: left;
                }

                input {
                    width: 100%;
                }
            }
        }
    }

}

.sort-by {
    display: flex;
    width: 90%;
    max-width: $element-width-l;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    color: $color-white;
    background-color: $color-secondary-muted-dark;
    border-radius: 5px;
    margin: 0.5em 0;
    gap: 1em;
    font-size: 0.9rem;

    select {
        background-color: $color-secondary-muted-light;
    }
}

.review-stats {
    color: $color-white;
    font-size: calc($font-size-base * 0.9);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary-muted-dark;
    padding: calc($padding-base * 0.5) $padding-base;
    border-radius: 10px;
}

.review-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    width: 90%;
    max-width: $element-width-l;

    .card {
        display: flex;
        flex-direction: column;
        padding: 0;

        .review-header {
            display: flex;
            gap: 0.5em;
            padding: 0.5em;
        }

        .num-display {
            width: calc($font-size-base * 2.8);
            height: calc($font-size-base * 2.8);
            display: flex;
            place-content: center;
            place-items: center;
            border-radius: 50%;
            font-size: $font-size-base;
            font-weight: 600;
            background: $color-primary;
            color: $color-white;
            line-height: 0;
            margin: 0.2em;
            flex: 0 0 auto;

            span {
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 0;
            }
        }

        .review-title {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            h2 {
                margin: 0;
                font-size: $font-size-base;
                font-weight: 600;
                text-transform: uppercase;
                color: $color-dark;
                text-align: left;

            }

            .author-display {
                text-align: right;
                font-size: calc($font-size-base * 0.75);
                color: $color-secondary-muted-dark;
            }
        }

        .body-display {
            padding: 1.5em;

            p {
                font-size: $font-size-base;
                max-width: 95%;
            }

            button {
                position: relative;
                padding: 0;
                margin: 0;
                font-size: 0.75rem;
                font-weight: 600;
                color: $color-secondary-muted-dark;
            }

            &.collapsed {
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            &.expanded {
                p {
                    white-space: normal;
                    overflow: visible;
                }
            }
        }

        .review-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 0.5em;
            background-color: $color-primary-muted-light;

            .btn-delete,
            .btn-edit {
                position: absolute;
                bottom: 25px;
                right: 25px;
                color: $color-secondary-muted-dark;
            }

            .btn-edit {
                right: 60px;
            }

            button.toggle-comment {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: none;
                gap: 0.5em;
                padding: 0;
                margin: 0 0.25em;
                color: $color-dark;
                font-size: 0.8rem;

                svg {
                    font-size: 1rem;
                }
            }

            .detail-container {
                white-space: nowrap;
                display: flex;
                justify-content: flex-end;
                gap: 0.5em;

                .name-display {
                    flex: 1 1 50%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 0.25em;
                    font-size: calc($font-size-base * 0.75);
                }

                .date-display {
                    flex: 1 1 50%;
                    min-width: 12em;
                    text-align: right;
                    font-size: calc($font-size-base * 0.75);
                    color: $color-secondary-muted-dark;
                }
            }

            @media screen and (max-width: $breakpoint-sm) {
                flex-direction: column-reverse;
                align-items: center;
                gap: 0.5em;
            }
        }

        .add-comment {
            display: flex;
            width: 100%;
            background-color: $color-primary-muted-light;

            form {
                padding: 0 1em;
                gap: 0.5em;

                .input-group {
                    width: 100%;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-top: 0.5em;

                    label {
                        font-size: 0.85rem;
                        color: $color-secondary-muted-dark;
                    }

                    textarea {
                        background-color: $color-white;
                        resize: none;
                    }
                }
            }

            .btn-container {
                justify-content: flex-start;

                button.submit,
                button.toggle {
                    font-size: 0.8rem;
                    color: $color-white;
                    max-width: 10em;
                    margin-top: 0;
                }
            }


            .new-comment {
                width: 100%;
            }
        }

        @media screen and (max-width: $breakpoint-sm) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .body-display {
                padding: 0 0.5em;
                max-width: 100%;
            }
        }
    }
}

.login {
    background-color: $color-secondary-muted;

    .toggle-register-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        margin: 1em;
        border: $border-soft-dark;
        font-size: 0.9rem;
        width: 90%;
        padding: 1em;

        .toggle-register {
            font-weight: 600;
            color: $color-secondary-dark;
        }
    }

    .form-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1em;

        .btn-primary {
            background-color: $color-secondary;
            color: $color-white;

            &:hover {
                background-color: $color-secondary-light;
            }
        }

        .input-group {
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-color: $color-secondary-muted;
            position: relative;

            label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                width: 100%;
                color: $color-secondary-muted-dark;
            }

            input {
                background-color: $color-secondary-muted-light;
                width: 100%;

                &#password {
                    padding-right: 2.8em;
                }
            }

            .show-password {
                position: absolute;
                top: 78%;
                right: 0;
                transform: translateY(-50%);
                width: 2.8em;
                height: 2.8em;
                color: $color-secondary-muted-dark;

                svg {
                    width: 1.8em;
                    height: 1.8em;
                }
            }
        }
    }

    .user-select-categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .user-select-categories__list {
            width: 100%;
            overflow-y: auto;
            max-height: 200px;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        border-radius: 0;
    }
}

.volumes-search {
    width: 90%;
    max-width: $element-width-l;
    border-radius: 5px;
    background-color: $color-secondary-muted;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        gap: 0;
        padding: 0;
        width: 90%;

        button {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            &.advanced-search-btn {
                color: $color-secondary-dark;
                margin-block: 0.5em;
                font-size: 0.9rem;
                font-weight: 400;
            }

            &.reset {
                padding: 0;
                width: fit-content;
                align-self: flex-end;
                font-size: 0.8rem;
                font-weight: 400;
                margin-top: 0.5em;
                color: $color-secondary-dark;
            }

            &.btn-primary {
                max-width: 20em;
                padding: 1em;
            }
        }

        .search-options {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            margin-bottom: 1em;

            fieldset {
                display: flex;
                justify-content: space-around;
                width: 100%;
                padding: 0.5em;

                fieldset.radio-field {
                    border: none;
                    justify-content: flex-start;
                    gap: 1em;

                    legend {
                        font-weight: 400;
                    }

                    .radio-input {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5em;
                        margin: 0;
                        width: fit-content;
                    }
                }

                .language-input {
                    max-width: fit-content;
                    margin: 0;
                }

                legend {
                    font-weight: 600;
                    color: $color-secondary-muted-dark;
                }

                border: 1px solid $color-secondary-muted-light;
            }
        }

        .advanced-search {
            border: 1px solid $color-secondary-muted-light;
            overflow: hidden;
            width: 100%;
            padding-inline: 1em;
        }

        .input-group {
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 0;
            margin-top: 0.5em;
            width: 100%;

            label {
                width: 100%;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $color-secondary-muted-dark;
            }

            input,
            select,
            textarea {
                width: 100%;
                background-color: $color-secondary-muted-light;
            }

            &.keyword-search {
                position: relative;
                margin-block: 1em;

                input {
                    padding: 0.6em;
                    padding-left: 2.5em;
                }

                label {
                    position: absolute;
                    display: inline;
                    pointer-events: none;
                    top: 30%;
                    padding-left: 2.5em;

                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    svg {
                        position: absolute;
                        top: 0;
                        left: 0.2em;
                        display: inline;
                        width: 2em;
                        height: 1.4rem;
                    }
                }

                &.custom-select {
                    margin-top: -1em;

                    select {
                        background-color: $color-secondary-muted-medium-light;
                    }

                }
            }
        }
    }
}