@use "utilities" as *;

.dashboard-nav {
    display: flex;
    width: 100%;
    background-color: $color-grey-light;
}

.hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .user-welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
        max-width: $element-width-m;
        padding: 0.5em;
        font-weight: 600;
        background-color: $color-secondary-muted;
        color: $color-secondary-dark;
        margin-bottom: 1em;
        border-radius: 25em;
    }

    .hero-card {
        background-color: $color-secondary-muted;
        background-image: linear-gradient(#a8dadf88, rgba(56, 35, 37, 0.171)), url("https://images.unsplash.com/photo-1560332944-d047e59ac9b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: calc(2vw + 2em);
        color: black;
        display: flex;
        width: 100%;
        max-width: $element-width-xl;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        transition: all 0.2s ease-in-out;

        //box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.138);

        @media screen and (max-width: $breakpoint-md) {}

        h1 {
            font-size: 2.6rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 0em;
            text-transform: uppercase;
        }

        p {
            color: white;
        }

        p:first-of-type {
            font-size: clamp(1.5rem, 6vw, 3.6rem);
            font-weight: 600;
            margin-bottom: 1em;
            color: $color-primary-light;
            background-color: #fffffff1;
            padding: 0.4em 10vw;
            transform: rotate(-2deg);
            white-space: nowrap;
            position: relative;
            left: -0.3em;

            &::after {
                position: absolute;
                content: '';
                font-size: 2em;
                margin-left: calc(10vw + 0.1em);
                width: 0.2em;
                height: 100%;
                background-color: #fffffff1;
            }


        }

        p:nth-of-type(2) {
            position: relative;
            font-size: clamp(1.25rem, 3.5vw, 1.8rem);
            top: -22%;
            left: 0;
        }

        .btn-cta {
            background-color: $color-primary;
            width: 100%;
            max-width: $element-width-s;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: $color-primary-light;
            }
        }

        .credit {
            position: absolute;
            bottom: 0;
            right: 0;
            padding-right: 0.4em;

            a {
                font-size: 0.7rem;
                color: rgba(0, 0, 0, 0.283);
            }
        }
    }

    h2,
    h3 {
        text-align: left;
    }
}

.rating-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border: 1px solid $color-secondary-muted;
    padding: 0.5em 0;
    border-radius: 5px;
    gap: 0.5em;

    ul.rating {
        gap: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;

        @media screen and (max-width: $breakpoint-md) {
            flex-wrap: wrap;
        }

        li {
            position: relative;
            width: 2.5em;
            height: 2.5em;
            flex: 0 0 2.5em;
            display: flex;
            border-radius: 50%;
            font-size: $font-size-base;
            transition: 0.3s;

            button {
                background: $color-white;
                position: absolute;
                display: flex;
                place-content: center;
                place-items: center;
                font-size: calc($font-size-base * 1.1);
                top: 50%;
                left: 50%;
                width: 2.5em;
                height: 2.5em;
                min-height: unset;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;

                &.selected {
                    background: $color-primary;
                    color: $color-white;
                    border: 3px solid $color-primary-light;
                    font-weight: 600;
                }

                @media (hover: hover) {
                    &:hover {
                        background: $color-primary-light;
                        color: $color-white;
                    }
                }
            }
        }
    }
}

.review-search {
    width: 90%;
    max-width: $element-width-l;
    border: 2px solid $color-secondary;
    border-radius: 5px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.1rem;
    }

    form {
        .reset {
            width: fit-content;
            align-self: flex-start;
            font-size: 0.8rem;
            border: 1px solid rgba(0, 0, 0, 0.187);
        }
    }
}

.sort-by {
    display: flex;
    width: 90%;
    max-width: $element-width-l;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    color: $color-white;
    background-color: $color-secondary-muted-dark;
    border-radius: 5px;
    margin: 0.5em 0;
    gap: 1em;
    font-size: 0.9rem;

    select {
        background-color: $color-secondary-muted-light;
    }
}


.feedback-stats {
    color: $color-white;
    font-size: calc($font-size-base * 0.9);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary-muted-dark;
    padding: calc($padding-base * 0.5) $padding-base;
    border-radius: 10px;
}

.feedback-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    width: 90%;
    max-width: $element-width-l;

    .card {
        padding-left: 6em;
        position: relative;

        h2 {
            font-size: $font-size-base;
            font-weight: 600;
            text-transform: uppercase;
            color: $color-dark;
            text-align: left;
            margin: 0;
        }

        span {
            font-size: calc($font-size-base * 0.9);
            color: $color-secondary-muted-dark;
            text-align: left;
        }

        p {
            font-size: $font-size-base;
            margin: $margin-base;
            margin-left: 0;
        }

        .btn-delete,
        .btn-edit {
            position: absolute;
            bottom: 25px;
            right: 25px;
            color: $color-secondary-muted-dark;
        }

        .btn-edit {
            right: 60px;
        }

        .num-display {
            width: calc($font-size-base * 2.6);
            height: calc($font-size-base * 2.6);
            display: flex;
            place-content: center;
            place-items: center;
            border-radius: 50%;
            font-size: calc($font-size-base * 1.2);
            font-weight: 600;
            background: $color-primary;
            color: $color-white;
            position: absolute;
            top: 15%;
            left: 5%;
        }

        .name-display {
            text-align: left;
            font-size: calc($font-size-base * 0.8);
        }
    }
}

.login {
    background-color: $color-secondary-muted;

    .toggle-register-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        margin: 1em;
        border: $border-soft-dark;
        font-size: 0.9rem;
        width: 90%;
        padding: 1em;

        .toggle-register {
            font-weight: 600;
            color: $color-secondary-dark;
        }
    }

    .form-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1em;

        .btn-primary {
            background-color: $color-secondary;
            color: $color-white;

            &:hover {
                background-color: $color-secondary-light;
            }
        }

        .input-group {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-color: $color-secondary-muted;
            position: relative;
            gap: 1em;

            label {
                text-align: right;
                width: 20%;
                color: $color-secondary-muted-dark;
            }

            input {
                background-color: $color-secondary-muted-light;
                width: 75%;

                &#password {
                    padding-right: 2.8em;
                }
            }

            .show-password {
                position: absolute;
                top: 50%;
                right: 1%;
                transform: translateY(-50%);
                width: 2.8em;
                height: 2.8em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-secondary-muted-dark;

                svg {
                    width: 1.8em;
                    height: 1.8em;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {

        border-radius: 0;

        .form-control {

            .input-group {
                flex-direction: column;
                align-items: center;
                gap: 0;

                label {
                    width: 100%;
                    text-align: left;
                }

                input {
                    width: 100%;
                }

                .show-password {
                    top: 75%;
                }
            }
        }
    }
}