@use "utilities" as *;

.user-dashboard {

    .user-dashboard.nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5em;
        background-color: $color-white;
        width: 100%;
        padding-block: 0.5em;

        a {
            color: $color-dark;
            font-weight: 600;
            background-color: inherit;
            border: 0.1rem solid transparent;
            font-size: $font-size-xs;
            border-radius: 0;
            padding: 0;
            max-width: 8rem;
            min-height: 1rem;
            position: relative;

            &.active::before {
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0;
                border-bottom: 0.2em solid $color-primary;
            }
        }
    }

    .user-dashboard-content {
        max-width: $element-width-l;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .user-profile {
        background-color: $color-white;
        padding: 0 2em;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;

        p {
            margin-left: 1.5em;
        }

        .user-info {
            div {
                margin: 0.5em 0;
                display: grid;
                grid-template-columns: 7em 4fr;

                &>*:first-child {
                    color: $color-grey-dark;
                    text-align: right;
                }
            }
        }

        .form-control {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            p.error {
                width: 95%;
                height: auto;
            }
        }

        button.show-password {
            padding: 0;
            width: fit-content;
            font-size: $font-size-xxs;
            color: $color-secondary-muted-dark;
            display: flex;
            align-items: center;
            gap: 0.5em;

            svg {
                width: 1.4em;
                height: 1.4em;
            }
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin: 0.2em 0;
            width: 100%;

            button {
                width: 40%;
            }
        }
    }

    .user-reviews {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .review-item {
            position: relative;

            .user-tools {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 0.25em;


                button {
                    svg {
                        line-height: 0;
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }
    }

    .user-settings {
        .user-select-categories {
            background-color: $color-white;
            padding-top: 1em;
            display: flex;
            flex-direction: column;
            width: 100%;

            h3 {
                font-size: $font-size-s;
                margin: 0;
                padding: 0;
                width: 100%;
            }

            .user-select-categories__list {
                display: flex;
                flex-direction: column;
                gap: 1em;
                padding-inline: 1em;
                padding-block-end: 1em;
                height: 50%;
                overflow-y: auto;

                legend {
                    color: $color-grey-dark;
                    font-size: $font-size-xs;
                    margin-bottom: 1em;
                }

                .user-select-categories__list__item {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    align-items: center;
                    color: $color-dark;

                    label {
                        text-transform: capitalize;
                        font-size: $font-size-xs;
                    }
                }
            }
        }
    }
}

.volume-review-container {

    .volume-info,
    .volume-review-form {
        width: $element-width-l;
        height: auto;

        section,
        fieldset {
            width: 100%;
            background-color: $color-white;

        }

        .volume-review {
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            border-radius: 0.5em;

            label,
            legend {
                font-size: $font-size-s;
                text-align: left;
                margin-left: 0.5em;
            }

            span {
                font-size: $font-size-xs;
                color: $color-grey-medium-dark;
                margin-left: 0.5em;
            }
        }
    }

    .volume-info {
        height: 100%;

        .right,
        .left {
            justify-content: flex-start;
        }
    }
}



.main-container {
    height: 100%;
    width: $element-width-xxl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;

    .hero-card {
        position: relative;
        background-color: $color-secondary-muted;
        background-image: linear-gradient(#a8dadf88, rgba(56, 35, 37, 0.171)), url("https://images.unsplash.com/photo-1560332944-d047e59ac9b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: calc(2vw + 2em);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        min-height: 500px;
        justify-content: space-around;
        text-align: center;
        transition: all 0.2s ease-in-out;

        h1 {
            font-size: 2.6rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 0em;
            text-transform: uppercase;
        }

        p {
            color: white;
        }

        p:first-of-type {
            font-size: clamp(1.5rem, 6vw, 3.6rem);
            font-weight: 600;
            margin-bottom: 1em;
            color: $color-primary-medium-light;
            background-color: #fffffff1;
            padding: 0.4em 10vw;
            transform: rotate(-2deg);
            white-space: nowrap;
            position: relative;
            left: -0.3em;

            &::after {
                position: absolute;
                content: '';
                font-size: 2em;
                margin-left: calc(10vw + 0.1em);
                width: 0.2em;
                height: 100%;
                background-color: #fffffff1;
            }
        }

        p:nth-of-type(2) {
            position: relative;
            font-size: clamp(1.25rem, 3.5vw, 1.8rem);
            top: -22%;
            left: 0;
        }

        .credit {
            position: absolute;
            bottom: 0;
            right: 0;
            padding-right: 0.4em;
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 0.283);
        }
    }

    .user-greet-container {
        padding: 0em;
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: flex-start;
        width: $element-width-xxl;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;

        .user-welcome {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            font-size: $font-size-xs;
            padding-block: 1vh;
            padding-inline: 2em;
            width: 100%;
            font-weight: 600;
            color: $color-secondary-dark;
            background-color: $color-secondary-muted;
        }
    }
}

.rating-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border: 1px solid $color-secondary-muted;
    padding: 0.5em 0;
    border-radius: 5px;
    gap: 0.5em;

    ul.rating {
        gap: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;

        @media screen and (max-width: $breakpoint-md) {
            flex-wrap: wrap;
        }

        li {
            position: relative;
            width: 2.5em;
            height: 2.5em;
            flex: 0 0 2.5em;
            display: flex;
            border-radius: 50%;
            font-size: $font-size-base;
            transition: 0.3s;

            button {
                background: $color-secondary-muted-light;
                position: absolute;
                display: flex;
                place-content: center;
                place-items: center;
                font-size: $font-size-m;
                top: 50%;
                left: 50%;
                width: 2.5em;
                height: 2.5em;
                min-height: unset;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;

                &.selected {
                    background: $color-primary;
                    color: $color-white;
                    border: 3px solid $color-primary-light;
                    font-weight: 600;
                }

                @media (hover: hover) {
                    &:hover {
                        background: $color-primary-medium-light;
                        color: $color-white;
                    }
                }
            }
        }
    }
}

.review-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
    max-width: $element-width-l;

    .review-item-container {
        display: grid;
        grid-template-columns: minmax(120px, 1.5fr) 5fr;
        grid-template-rows: auto 1fr auto;
        padding: 0;
        width: 100%;
        background-color: $color-white;

        @media screen and (max-width: $breakpoint-xs) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .review-header {
            grid-column: 1 / 2;
            grid-row: 1 / span 3;
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            position: relative;

            .volume-info-title-container {
                * {
                    text-align: center;
                }
            }

            .volume-info-details-btn {
                margin-bottom: 1em;
            }
        }

        .review-body {

            width: 100%;
            height: 100%;
            grid-column: 2 / 3;
            grid-row: 2;
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 1.5em;
            font-size: $font-size-xs;
            line-height: 2;
            background-color: $color-white;

            .num-display {
                width: calc($font-size-base * 2.2);
                height: calc($font-size-base * 2.2);
                display: inline-flex;
                place-content: center;
                place-items: center;
                border-radius: 50%;
                font-size: $font-size-xs;
                font-weight: 600;
                background: $color-primary;
                color: $color-white;
                line-height: 0;
                flex: 0 0 calc($font-size-base * 2.2);

                span {
                    font-size: $font-size-xxs;
                    font-weight: 400;
                    line-height: 0;
                }
            }

            .review-text {
                margin-top: 1em;

                .placeholder {
                    width: 100%;
                    font-size: $font-size-xxs;
                    color: $color-secondary-muted-dark;
                    font-style: italic;
                }
            }
        }

        .review-footer {
            grid-column: 2 / span 3;
            grid-row: 3 / 4;
            white-space: nowrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5em;
            width: 100%;
            padding-inline: 0.5em;
            background-color: $color-white;
            flex-wrap: wrap;

            .name-display {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 0.25em;
                font-size: $font-size-xxxs;
            }

            .date-display {
                text-align: right;
                color: $color-secondary-muted-dark;
                font-size: $font-size-xxxs;

                .update-date {
                    font-style: italic;
                }
            }
        }
    }
}

.login {
    background-color: $color-secondary-muted;

    .toggle-register-container {

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: $border-soft-dark;
        font-size: $font-size-xs;
        width: 100%;
        padding: 1em;

        .toggle-register {
            font-weight: 600;
            color: $color-secondary-dark;
        }
    }

    form {
        .input-group {
            width: 100%;

            label {
                width: 20%;
                color: $color-secondary-muted-dark;
            }

            input {
                background-color: $color-secondary-muted-light;
                width: 100%;

                &#password {
                    padding-right: 2.8em;
                }
            }

            .show-password {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                width: 2.8em;
                height: 100%;
                color: $color-secondary-muted-dark;

                svg {
                    width: 1.8em;
                    height: 1.8em;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        border-radius: 0;
    }
}

.volumes-search,
.reviews-search {
    width: 90%;
    max-width: $element-width-l;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1em;

    form {
        border-radius: 0.5em;
        background-color: $color-secondary-muted;
        gap: 0;

        button.reset {
            width: fit-content;
            align-self: flex-end;
            font-size: $font-size-xxs;
            margin-top: 0.5em;
            font-weight: 400;
            color: $color-secondary-dark;
        }

        .advanced-search {
            border: 1px solid $color-secondary-muted-light;
            overflow: hidden;
            width: $element-width-m;
            padding: 1em;
            border-radius: 0.5em;

            .advanced-search-btn {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                color: $color-secondary-dark;
                font-size: $font-size-xxs;
                font-weight: 400;
            }

            .current-search-container {
                margin-top: 0.5em;
                width: 100%;

                .current-search-items-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    gap: 0.5em;
                    line-height: 0;

                    .current-search-item {
                        border-radius: 1.5em;
                        padding: 0;
                        padding-inline: 0.6em;
                        font-size: $font-size-xxs;
                        display: inline-flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: $color-white;
                        gap: 0.5em;
                        background-color: $color-secondary-medium-dark;
                        width: fit-content;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        line-height: 0;

                        .label-title {
                            font-size: $font-size-xxxs;
                            text-transform: uppercase;
                            color: $color-secondary-very-light;
                        }
                    }
                }
            }
        }

        .input-group {

            width: $element-width-m;

            label {
                color: $color-secondary-muted-dark;
            }

            input,
            select,
            textarea {
                background-color: $color-secondary-muted-light;
            }

            &.keyword-search {
                position: relative;
                margin-block-end: 1.5em;

                input {
                    height: 2.8em;
                    padding-left: 2.8em;
                    padding-right: 2em;
                    border-radius: 25em;
                }

                label {
                    position: absolute;
                    left: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5em;
                    pointer-events: none;
                    margin-top: auto;
                    margin-bottom: auto;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    svg {
                        font-size: 1.2rem;
                    }
                }


            }
        }
    }
}