@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* UTILITIES */

$color-primary: #e34050;
$color-primary-light: #f96874;
$color-primary-dark: #7c1225;
$color-secondary: #6bb9b6;
$color-secondary-light: #89cbc9;
$color-secondary-dark: #255f5d;
$color-white: #fff;
$color-grey: #e4e4e4;
$color-grey-light: #f5f5f5;
$color-grey-dark: #b3b3b3;
$color-dark: #333;

$color-primary-muted: #ddcacc;
$color-primary-muted-light: #f3f1f1;
$color-primary-muted-dark: #b38b8f;
$color-secondary-muted: #d3e1e3;
$color-secondary-muted-light: #eff2f3;
$color-secondary-muted-dark: #5f8086;

$padding-base: 1.5em;
$margin-base: 1.5em;

$font-size-base: 1rem;
$font-size-heading: calc($font-size-base * 1.5);

$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

/*  RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 0.5em;
  max-width: 55ch;
}

p {
  max-width: 55ch;
}

h1 {
  font-size: $font-size-heading;
}

h2 {
  font-size: calc($font-size-heading * 0.9);
}

h3 {
  font-size: calc($font-size-heading * 0.8);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  user-select: none;
}

a {
  text-decoration: none;
  color: $color-primary;
}

a:hover {
  color: $color-primary-light;
}

a:visited {
  color: $color-primary;
}

/* APP */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* LAYOUT COMPONENTS */

body {
  font-family: 'Poppins', sans-serif;
  background-color: $color-primary-muted-light;
  color: $color-dark;
  line-height: 1.6;
  overflow: hidden;
}

main {
  height: calc(95vh - 2em);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
  align-items: center;
  background-color: $color-primary;
  color: $color-white;
  height: calc(2em + 5vh);
  z-index: 2;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);

  nav {
    display: flex;
    align-items: center;
    height: 100%;

    .btn-icon {
      color: inherit;
    }

    ul {
      display: flex;
      font-size: $font-size-base;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        &:last-child {
          border-left: 2px solid $color-primary-light;
          padding-left: 1em;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          white-space: nowrap;
          color: $color-white;
          border-bottom: 4px solid transparent;
          transition: all 0.15s ease-in-out;
          height: auto;

          &:hover {
            border-bottom: 4px solid $color-white;
          }

          &:visited {
            color: $color-white;
          }

          &.active {
            font-weight: 800;
          }

          svg {
            margin-right: 0.5em;
            margin-bottom: 1px;
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em 0.4em;
    line-height: 1;
    background-color: $color-white;
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin-left: 0.4em;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 1rem;
    }
  }
}

.mobile-menu {
  background-color: $color-primary-light;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 0em;
  transform: translateX(110%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  &.open {
    transform: translateX(0);
    width: 20em;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5em;
    width: 100%;
    height: 100%;
    gap: 0;
    overflow: hidden;
    overflow-y: auto;

    li {
      width: 100%;
      height: fit-content;
      margin: 0;
      padding: 0;
      position: relative;

      &:last-child {
        border-left: none;
        border-top: 2px solid $color-primary;
        margin: 0;
        padding: 0;
      }

      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 1em 2em;
        border-color: transparent;

        &:hover {
          border-color: transparent;
        }

        @media (hover: hover) {
          &:hover {
            background-color: $color-primary-muted-light;
            color: $color-primary-dark;
            font-weight: 600;
          }
        }
      }
    }
  }

  .btn-container {
    width: 100%;
    height: calc(2em + 5vh);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    padding-right: 2em;


    .btn-icon {
      color: inherit;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    &.open {
      transform: translateX(0);
      width: 100vw;
    }
  }


}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1em;
  width: clamp(300px, 98%, 800px);
  height: 100%;
  padding: 2vw;
}

.card {
  background-color: #fff;
  color: $color-dark;
  border-radius: 0.8em;
  padding: $padding-base;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;

  h2 {
    text-align: center;
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5em;
  border: 2px solid $color-secondary-light;
  color: $color-secondary-dark;

  .btn {
    width: 100%;
  }
}

.prompt {
  z-index: 1;
  position: absolute;
  top: calc(2.2em + 5vh);
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-light;
  color: $color-white;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  height: 0;
  display: none;
  overflow: hidden;
  box-shadow: 0 0 10px #00000090;

  &.show {
    display: flex;
    height: 50px;
  }
}

.pattern-bg {
  background-color: $color-primary-muted-light;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='115' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23d3e1e3' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.hero-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  justify-content: flex-start;
  border: 0.5em solid #eff2f3;

  .hero-card {
    background-color: $color-secondary-muted;
    padding: calc($padding-base * 1.5) $padding-base;
    color: black;
    display: flex;
    width: clamp(15em, 70%, 40em);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-align: center;
    transition: all 0.2s ease-in-out;
    position: relative;
    margin: 10vh;
    //box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.138);

    @media screen and (max-width: $breakpoint-md) {
      width: 98%;
    }

    h1 {
      font-size: 2.6rem;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 0em;
      text-transform: uppercase;
    }

    p:first-of-type {
      font-size: clamp(1.2rem, 4.5vw, 2.8rem);
      font-weight: 600;
      margin-bottom: 1em;
      color: $color-primary-light;
      background-color: white;
      padding: 0.4em;
      transform: rotate(-2deg);
      white-space: nowrap;
      position: relative;
      left: -0.3em;

      &::after {
        position: absolute;
        content: '';
        font-size: 2em;
        margin-left: 0.3em;
        width: 0.2em;
        height: 100%;
        background-color: white;
      }
    }

    .btn-cta {
      background-color: $color-primary;
      font-size: $font-size-base;
      font-weight: 600;
      padding: 1em 2em;
      border-radius: 25em;
      width: 60%;
      min-width: fit-content;
      max-width: 40em;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      margin: $margin-base;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      transition: all 0.1s ease-in-out;
      text-transform: uppercase;

      &:hover {
        background-color: $color-primary-light;
      }
    }
  }

  h2,
  h3 {
    text-align: left;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0;
  transition: height 0.2s ease-in-out;

  .alert {
    padding-top: 10px;
    text-align: center;
    color: $color-primary-dark;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid $color-grey;
    border-radius: 2px;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      padding: 0.2em 1em;
      font-size: $font-size-base;
      font-weight: 600;
      color: $color-white;
      text-transform: uppercase;
      background-color: inherit;
      background-color: $color-secondary-light;
    }

    input,
    textarea {
      padding: 0.8em 1.2em;
      flex-grow: 2;
      border: transparent;
      font-size: 1rem;
      font-family: inherit;
      width: 100%;

      &:focus {
        outline: 2px solid $color-secondary-light;
        border-radius: 2px;
      }

      &::placeholder {
        font-style: italic;
        opacity: 0.8;
      }
    }

    textarea {
      resize: vertical;
      min-height: 15em;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

// MISC COMPONENTS
ul.rating {

  gap: 0.5em;
  margin: $margin-base;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 540px) {
    flex-wrap: wrap;
  }

  li {
    position: relative;
    background: $color-grey-light;
    width: 2.5em;
    height: 2.5em;
    flex: 0 0 2.5em;
    display: flex;
    border-radius: 50%;
    font-size: $font-size-base;
    transition: 0.3s;

    label {
      position: absolute;
      display: flex;
      place-content: center;
      place-items: center;
      font-size: calc($font-size-base * 1.1);
      top: 50%;
      left: 50%;
      width: 2.5em;
      height: 2.5em;
      padding: 10px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;

      &:hover {
        background: $color-primary-light;
        color: #fff;
      }
    }

    [type='radio'] {
      opacity: 0;
    }

    [type='radio']:checked~label {
      background: $color-primary;
      color: #fff;
      border: 3px solid $color-primary-light;
      font-weight: 600;
    }
  }

}

.feedback-stats {
  color: $color-white;
  font-size: calc($font-size-base * 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-secondary-muted-dark;
  padding: calc($padding-base * 0.5) $padding-base;
  border-radius: 10px;
}

.feedback-list {
  margin-top: $margin-base;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 1.5em;
  padding-bottom: 1em;

  .card {
    padding-left: 6em;

    h2 {
      font-size: $font-size-base;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-dark;
      text-align: left;
      margin: 0;
    }

    span {
      font-size: calc($font-size-base * 0.9);
      color: $color-secondary-muted-dark;
      text-align: left;
    }

    p {
      font-size: $font-size-base;
      margin: $margin-base;
      margin-left: 0;
    }

    .btn-delete,
    .btn-edit {
      position: absolute;
      bottom: 25px;
      right: 25px;
      color: $color-secondary-muted-dark;
    }

    .btn-edit {
      right: 60px;
    }

    .num-display {
      width: 50px;
      height: 50px;
      display: flex;
      place-content: center;
      place-items: center;
      border-radius: 50%;
      font-size: calc($font-size-base * 1.4);
      font-weight: 600;
      transition: 0.3s;
      background: $color-primary;
      color: #fff;
      position: absolute;
      top: 25px;
      left: 20px;
    }

    .name-display {
      text-align: left;
      font-size: calc($font-size-base * 0.8);
    }
  }
}

.login {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 35em;
  background-color: $color-secondary-muted;
  color: $color-secondary-muted-dark;
  border-radius: 0;
  box-shadow: none;

  .form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;

    .input-group {
      width: 100%;
      flex-direction: row;
      background-color: $color-secondary-muted-dark;
      border-color: $color-secondary-muted;
      position: relative;

      label {
        width: 10em;
        max-width: 50%;
        color: $color-white;
        background-color: $color-secondary-muted-dark;
      }

      input {
        background-color: $color-secondary-muted-light;
        color: inherit;

        &:focus {
          outline: 2px solid $color-secondary;
          border-radius: 2px;
        }

        &#password {
          padding-right: 2.8em;
        }

        &::placeholder {
          font-style: italic;
        }
      }

      .show-password {
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        width: 2.8em;
        height: 2.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-secondary-muted-dark;

        svg {
          width: 1.8em;
          height: 1.8em;
        }
      }

    }
  }

  @media screen and (max-width: 540px) {
    .form-control {
      .input-group {
        flex-direction: column;
        align-items: center;
        position: relative;

        label {
          width: 100%;
          max-width: 100%;
          height: 2em;
        }

        .show-password {
          top: 68%;
        }
      }
    }

    .btn {
      width: 100%;
      margin: 0;
    }
  }

  .btn {
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
      background-color: $color-secondary-light;
    }
  }
}


// BUTTONS
button,
input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
  user-select: none;
  color: inherit;
  font: inherit;

  &.btn {
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 25em;
    width: clamp(80px, 90%, 25em);
    min-height: 40px;
    padding: calc($padding-base * 0.8) $padding-base;
    margin: calc($margin-base/2);
  }

  &.btn-link {
    display: block;
    color: $color-primary;
    font-weight: 800;

    &:hover {
      color: $color-primary-light;
    }
  }

  &.btn-primary {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-light;

    }
  }

  &.btn-secondary {
    background-color: $color-secondary;
    border: 1px solid $color-secondary-dark;
    margin: calc($margin-base * 0.2);

    &:hover {
      background: $color-secondary-light;
    }
  }

  &.btn:disabled {
    background-color: $color-grey-dark;
    color: $color-grey-light;
    cursor: not-allowed;
    box-shadow: none;
  }

  &.btn:disabled:hover {
    transform: none;
  }

  &.btn-icon {
    border: 0;
    background: transparent;
    padding: 0em;
    margin: 0;
    outline: none;
    cursor: pointer;
    transform: scale(1.8);
    line-height: 0;
  }
}

// ANIMATIONS

.fade-out {
  animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn ease 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: $color-grey;
}

::-webkit-scrollbar-track {
  background: $color-grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $color-primary-dark;
  border-radius: 5px;
  border: 2px solid $color-grey;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-primary;
}

/* CUSTOM CHECKBOX */
// Credit: https://moderncss.dev/pure-css-custom-checkbox-style/

input[type="checkbox"].custom {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus {
    outline: max(2px, 0.15em) solid $color-secondary;
  }

  &:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
}

// SPINNER

.spinner {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;

  &::after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid $color-secondary;
    border-color: $color-secondary $color-secondary $color-secondary transparent;
    animation: spinner 1.2s linear infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.minimize {
  height: 0;
  overflow: hidden;
}